.about{
    padding: 30px;
    background-color: #f5f7f8;
}
.about .box{
    width: 700px;
    padding: 40px;
    background-color: white;
    border: 1px solid #e0e5e7;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}
#item-number{
    background-clip:content-box;
    padding:10px;
}
#item-number:hover{
    color: #18014d;

}
.flex-container{
    display: flex;
    align-items: center;
    padding-top: 150px;
}
.about h2{
    text-align: center;
}
.about h5{
    text-align: center;
    justify-content: center;
}
.invite{
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 300;
    padding-top: 100px;
    margin-bottom: -50px;
}
.container{
	width: 80%;
	height: 80%;
	display: grid;
	justify-content: center;
	align-content: center;
	
	.testimonial-box{
		position: relative;
		width: 500px;
		height: 300px;
		
		&::before{
			content: '';
			position: absolute;
			top: 10px;
			left: -100px;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background:  linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) , rgba(255, 255, 255, 0.8);
			box-shadow: -5px 5px 10px rgba(0,0,0,.3);
			z-index: -1;
		}
			&::after{
			content: '';
			position: absolute;
			bottom: 10px;
			right: -100px;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) , rgba(255, 255, 255, 0.8);
			box-shadow: 5px 5px 10px rgba(0,0,0,.3);
			z-index: -1;
		}
		
		.testimonial{
			display: grid;
			grid-template-rows: 1.3fr 0.7fr;
			box-shadow: 0 0 5px rgba(0,0,0,.5);
			width: 100%;
			height: 100%;
			background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
			padding: 10px 20px;
			position: relative;
			
			.fas{
				position: absolute;
				top: 0;
				right: 0;
				padding: 10px;
				font-size: 25px;
				color: #222;
			}
			
			.testimonial-text{
				font-size: 16px;
				line-height: 25px;
				text-align: center;
				padding: 25px 15px;
				width: 100%;
			}
			
			.testimonial-user{
				display: flex;
				align-items: center;
				
				.user-img{
					box-shadow: 0 0 10px rgba(0,0,0,.5);
					width: 60px;
					height: 60px;
					border-radius: 50%;
				}
				
				.user-info{
					margin: 0 20px;
					display: grid;
					grid-template-rows: 1fr 1fr;
					
					.user-name{
						font-weight: 800;
					}
					
					.user-job-details{
						margin: 5px 0 0 0;
						position: relative;
						display: flex;
						justify-content: space-between;
						
						.line{
							position: absolute;
							width: 2px;
							height: 100%;
							background: #000;
							left: 50%;
							top: 0;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}


.support{
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
}
a{
	margin: 0 10px;
	color: #fff;
	font-size: 1.5rem;
	transition: all 400ms ease;
}

a:hover{
	color: #222;
}
