.catalog{
    min-width: 600px;
    margin-bottom: 30px;
}

.banner{
    color: rgb(0, 0, 0);
    font-weight: 900;
    background-image: url(/public/images/background.webp);
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family:"Montserrat";
   background-position: center;
   background-size: cover;
}
.banner h3{
    background-image: linear-gradient(to right, rgb(255, 230, 230), rgb(253, 241, 255));
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-size: 48px;
}

.catalog .product h3{
    color: rgb(219, 146, 50);
    font-weight: 200;
}
.catalog .filters button {
    margin: 6px 12px;
}
