.contact .form {
    border: 1px solid #cecece;
    border-radius: 4px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;    
    text-align: left;
}
.contact .form div {
    margin-top: 12px;
}
.contact .form .controls {
    margin-top: 20px;
    text-align: center;
}
label{
    padding-left: 15px;
    font-size: 24px;
    font-weight: 200;
}
.contact h2{
    padding-top: 25px;
}
.contact p{
    padding-top: 10px;
}