
.navbar{
    background: radial-gradient(circle, rgb(255, 229, 82) 0%, rgb(255, 70, 153) 100%);
    text-align: center;
    font-weight: 600;
    
}

.navbar .navbar-brand{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: white;
}
.navbar .navbar-brand:hover{
    color: rgb(252, 102, 127);
    background-color: white;
}
.navbar .nav-link{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 300;
}
.navbar .nav-link:hover{
    color: rgb(252, 102, 127);
    background-color: white;
}