
.navbar{
    background: radial-gradient(circle, rgb(255, 229, 82) 0%, rgb(255, 70, 153) 100%);
    text-align: center;
    font-weight: 600;
}
.navbar .navbar-brand{
    font-family: "Merriweather";
    font-size: x-large;
    color: white;
}
.navbar .navbar-brand:hover{
    color: rgb(252, 102, 127);
    background-color: white;
}
.navbar .nav-link{
    color: white !important;
    font-family: "Montserrat";
    font-weight: 400;
}
.navbar .nav-link:hover{
    color: rgb(255, 87, 115) !important;
    background-color: white;
}
.user-welcome{
    color: white;
    padding: 10px 20px;
    font-weight: 200;
}
.user-name{
    font-weight: bold;
}
